
<p> 
Author: <%= @message.author %> 
</p>

<p> 
 <%= @message.content %> 
</p>

<p> 
 <%= @message.created_at %> 
</p>


<p> 
 <%= @message.updated_at %> 
</p>

<% @all_authors.each do |message| %>

<p>
  <%= message.content %>
</p>

<%end %>


<hr/>
<a href="/messages"> Back to all messages </a>